html
  head
    title= title
    link(rel="stylesheet", href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css")
    link(rel="stylesheet", href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css")
  body
    #root
    script(src="/public/bundle.js")